header {
    background-image: url(../Images/top1.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.headertext {
    text-align: center;
    color: white;
    padding-top: 300px;
}
#farmname {
    font-size: 3.3em;
    font-family: 'Courier New', Courier, monospace;
}
#farmtag {
    font-size: 2.0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.prodsales {
    display: flex;
    flex-direction: row;
    margin: 50px 150px 25px 150px;
    justify-content: space-around;
    align-items: center;
    height: auto;
}
.prod {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../Images/prod1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 50px 0 50px 0;
}
.vline {
    border-right: solid 2px black;
    height: 700px;
    margin: 0 40px 0 40px;
}
.sales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../Images/prod2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
#prod {
    font-size: xx-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#sales {
    font-size: xx-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#sheda {
    margin: 5px 0 50px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    border: red 2px solid;
    width: 200px;
    height: 70px;
}
#shedb {
    margin: 10px 0 50px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 70px;
}
#shedc {
    margin: 10px 0 50px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 70px;
}
#shedd {
    margin: 10px 0 40px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 70px;
}
#totalprod {
    margin: 30px 0 40px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 70px;
}
#monday {
    margin: 0 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#tuesday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#wednesday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#thursday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#friday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#saturday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#sunday {
    margin: 10px 0 20px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
#totalsales {
    margin: 20px 0 25px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 50px;
}
.incometime {
    display: flex;
    flex-direction: column;
    margin: 50px 150px 25px 150px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    border: solid 2px green;
}
.incomemonths {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px 0 80px;
    padding: 0 20px 0 20px;
}
#january, #february, #march, #april, #may, #june, #july, #august, #september, #october, #november, #december, #yearlytotal {
    width: 200px;
    height: 70px;
    margin: 30px 0 30px 0;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
#incometitle {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    height: 70px;
    margin: 30px 0 0 0;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}